.cta{
    display: block;
    border: 1px solid gray;
    /* height: 52px; */
    border-radius: 20px;
    padding: 15px 15px;
    margin: 0 auto;
    cursor: pointer;
  }

  .error{
    background-color: red;
    color: white;
  }
  .flexcontainer{
    /* display: flex; */
    /* gap: 20px; */
  }